    .btn-color{
        background-color: #ff2282; 
        color: white;
    }
    *{
        margin: 0;
        padding: 0;
    }
    body{
        background-color: rgb(241, 241, 241);
    }
    header{
        height: auto;
        padding-bottom: 0;
    }
    .navbar{
        padding-top: 2.7%;
        padding-bottom: 2.7%;
    }
    .navbar-brand{
        margin-right: 50%;
    }
    .catalogo{
        height: 200px;
        width: 200px;
        justify-content: flex-end;
        margin-left: 30px;
    }
    .logo{
        height: 80px;
        width: 80px;
        margin-left: 4%;
        border-radius: 100%;
    }
    .inicio{
        height: 95vh;  
        margin: 4%;
        background-color: white;
        border-radius: 30px;
        }
     .img{
            border-radius: 30px;
            width: 100%;
            height: auto;
            margin: 0;
        }
      .boton-Gal{
            background-color: #ff2282; 
            color: white;
            height: 60px;
            width: 60px;
            top: 50%;
            transform: translateY(-50%);
        }

      footer{
        padding: 4%;
        background-color: #ff2282;
        color: white;
        height: 200px;
        text-align: center;
      }
      a{
        text-decoration: none;
        color: white;
      }